<div class="all-block">
    <div class="all-block__inner">
        <div class="all-block__left">
            <div class="all-block__news">
                <div class="all-block__img color1">
                    <img src="img/del/all-block__news.png" alt="">
                </div>
                <div class="all-block__name"><i class="all-block__icon-news"></i>НОВОСТИ</div>
            </div>

            <div class="all-block__silk">
                <div class="all-block__img color2">
                    <img src="img/del/all-block__silk.png" alt="">
                </div>
                <div class="all-block__name"><i class="all-block__icon-silk"></i>ШЕЛКОВЫЙ ПУТЬ 2.0</div>
            </div>

            <div class="all-block__events">
                <div class="all-block__img color1">
                    <img src="img/del/all-block__events.png" alt="">
                </div>
                <div class="all-block__name"><i class="all-block__icon-events"></i>МЕРОПРИЯТИЯ</div>
            </div>
            <div class="all-block__world">
                <div class="all-block__img color3">
                    <img src="img/del/all-block__world.png" alt="">
                </div>
                <div class="all-block__name"><i class="all-block__icon-world"></i>МИР О КИТАЕ</div>
            </div>


        </div>
        <div class="all-block__right">
            <div class="all-block__infographic">
                <div class="all-block__img color3">
                    <img src="img/del/all-block__infographic.png" alt="">
                </div>
                <div class="all-block__name"><i class="all-block__icon-infographic"></i>ИНФОГРАФИКА</div>
            </div>
            <div class="all-block__public">
                <div class="all-block__img color2">
                    <img src="img/del/all-block__public.png" alt="">
                </div>
                <div class="all-block__name"><i class="all-block__icon-public"></i>ПУБЛИКАЦИИ</div>
            </div>
        </div>
    </div>
</div>