<div class="header">
    <div class="header__nav">
        <nav class="nav">
        <a href="#" class="nav__item">Новости</a>
        <a href="#" class="nav__item">Публицации</a>
        <a href="#" class="nav__item">Шелковый путь 2.0</a>
        <a href="#" class="nav__item">Бизнес и право</a>
        <a href="#" class="nav__item">Культура</a>
        <a href="#" class="nav__item">Мультимедиа</a>
        <a href="#" class="nav__item">Мероприятия</a>
        <a href="#" class="nav__item">О нас</a>
    </nav>
    </div>
    <div class="header__inner">
        <div class="header__item">
            <img src="" alt="">
        </div>
        <div class="header__item">
            <img src="" alt="">
        </div>
    </div>
</div>