<div class="header">
    <div class="header__nav">
        <nav class="nav">
        <a href="#" class="nav__item">Новости</a>
        <a href="#" class="nav__item">Публицации</a>
        <a href="#" class="nav__item">Шелковый путь 2.0</a>
        <a href="#" class="nav__item">Бизнес и право</a>
        <a href="#" class="nav__item">Культура</a>
        <a href="#" class="nav__item">Мультимедиа</a>
        <a href="#" class="nav__item">Мероприятия</a>
        <a href="#" class="nav__item">О нас</a>
    </nav>
    </div>
    <div class="header__inner">
        <img src="img/del/header__img.png" alt="">
        <div class="header__logo">
            <img src="img/logo.png" width="739" alt="">
        </div>
    </div>
    <div class="header__fast-news">
        <div class="fast-news">
        <div class="fast-news__inner js-fast-news">
            <div class="fast-news__item">На газопроводе «Казахстан-Китай» введена в строй новая компрессорная станция</div>
            <div class="fast-news__item">Цифровая экономика составляет 30% ВВП Китая</div>
            <div class="fast-news__item">Китай продвигает развитие промышленного туризма</div>
        </div>
    </div>
    </div>
</div>