<div class="panel-right">
    <div class="panel-right__inner">
        <div class="panel-right__lang">
            <div class="lang">
                <a href="#" class="lang__item">Kz</a>
                <a href="#" class="lang__item active">Ru</a>
                <a href="#" class="lang__item">En</a>
                <a href="#" class="lang__item">Cn</a>
            </div>
        </div>
        <div class="panel-right__social">
        <div class="social">
            <a href="#" class="social__item facebook" target="_blank"></a>
            <a href="#" class="social__item instagram" target="_blank"></a>
            <a href="#" class="social__item youtube" target="_blank"></a>
        </div>
    </div>
    </div>
</div>