<div class="slider-strategy">
    <div class="slider-strategy__inner js-slider-strategy">
        <div class="slider-strategy__item">
            <div class="slider-strategy__header">Стратегия экономического развития «Один пояс — один путь»</div>
            <div class="slider-strategy__txt"><b>Концепция «Один пояс — один путь»</b> — международная инициатива Китая, направленная на совершенствование уществующих и создание новых торговых путей, транспортных, а также экономических коридоров, связывающих более чем 60 стран Центральной Азии, Европы и Африки, которая будет способствовать развитию торговых отношений между ними и Китаем.</div>
            <a href="#" class="slider-strategy__btn">ПОДРОБНЕЕ</a>
        </div>
    </div>
</div>