<div class="useful-materials">
    <div class="useful-materials__header">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</div>
    <div class="useful-materials__inner">
        <a href="#" class="useful-materials__item">
            <div class="useful-materials__img">
                <img src="img/del/useful-materials__img1.png" alt="">
            </div>
            <div class="useful-materials__txt">
                <div class="useful-materials__name">СОВРЕМЕННЫЙ КИТАЙ</div>
                <div class="useful-materials__anons">Международные исследования</div>
            </div>
        </a>
        <a href="#" class="useful-materials__item">
            <div class="useful-materials__img">
                <img src="img/del/useful-materials__img1.png" alt="">
            </div>
            <div class="useful-materials__txt">
                <div class="useful-materials__name">РЕГИОНЫ КНР</div>
                <div class="useful-materials__anons">Статистические данные по международной проблематике</div>
            </div>
        </a>
    </div>
</div>