.slider-strategy{
  position: relative;
  width: 100%;
  background-image: url("../img/slider-strategy__bg.png");
  &__inner {
    width: 100%;
    max-width: 920px;
    padding: 50px;
    margin: 0 auto;

  }
  &__header{
    color: $primary3;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 26px;
  }
  &__txt{
    color: $primary5;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
  }
  &__btn{
    display: block;
    width: 100%;
    max-width: 255px;
    background-color: $primary3;
    height: 50px;
    border-radius: 30px;
    color: $primary1;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
}